body{
    font-family:'Roboto Slab', serif;
    padding:0px;
    margin:0px;
    background-color: $FONDO;

    &::-webkit-scrollbar{
        @include medidas (6px,30px);
        background-color: $FONDO;
     }
    &::-webkit-scrollbar-thumb{
        background-color: white;
        border-radius: 30px;
     }
    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: white;
        }
    }
}
 //Titles & Texts
.titulo__general{
    text-align: center;
    font-size: 35px;
    padding: 60px;
    background-color:$HUESO;
    border-radius: 30px;
}
.p__general{
    padding: 10px 0px;
    font-size:17px ;
    line-height: 28px;
    text-align: justify;
    color:$LETRA;
}

 //Header + Nav
header{
    background-color:$FONDO;
    width: 100%;
    @include flex(flex, row, space-between, center);
    align-items: center;
    padding:15px 10px;
    div{
        @include flex(flex, row, unset, center);
        a img{
            height: 50px;
        }
    }
}
.encabezado__contenedor{
    @include flex(flex, row, none, center);
}
nav a{
    color:white;
    padding: 12px 20px;
    font-size: 93.75%; 
    position: relative;
    
}


.encabezado__contenedor__nav{
    @include flex(flex, row, none, center);
}
.encabezado__searchbox{
    position: relative;
    @include medidas (300px,40px);
    border: 2px solid white;
    padding: 0px 10px;
    border-radius: 50px;
    table{ //Searchbox
        @include medidas (100%,100%);
        vertical-align: middle;
        text-align: center;
            input{ //Input Searchbox - Container
                @include medidas (100%,100%);
                @include colores (white, $FONDO);
                border: none;
                padding: 0px 5px;
                border-radius: 15px;
                &:focus{
                    outline:none;
                }
            }
            button{ // Search Logo
                background-color: black;
                border: none;
                outline: none;
                background: transparent;
            }
    }
}
.nav-link{
     color:white;
     padding: 12px 20px;
     transition: all 300ms;
     font-size: 93.75%; 
     &:hover{
     color:$COLOR ;}
}
#navpad-item.active{
     color: $COLOR;
}
#navbarDropdown.nav-link.active.dropdown-toggle{
    color: $COLOR;
}
#navpad-item{
     padding: 12px 20px;
     color: white;
     &:hover{
         color: map-get($colores, COLOR);
    }
}
.dropdown-item{
     padding: 12px 20px;
     @include colores(white, $FONDO);
     &:hover{
         @include colores($COLOR,$FONDO)
    }
}
.navbar-light .navbar-nav .nav-link{
     color: white;
} 
#navbarDropdown{
    padding: 12px 20px;
    color: white;
    &:hover{
        color:$COLOR ;
    }
}
.navbar-toggler{
    background-color: white;
}
.dropdown-menu{
    background-color: $FONDO;
}

//Botón Ir arriba
.material-symbols-outlined{
    display: none;
    background-color: $HUESO;
    cursor: pointer;
    border-radius: 50px;
    border: solid 1px black;
    padding: 5px;
    transform: scale(1.5);
    position: fixed;
    bottom: 20px;
    right: 20px;  
}

//Footer
footer{
    width: 100%;
    background-color: $HUESO;
    @include flex(flex, row, space-between, center);
    padding:20px;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    p{
        margin: 0px;
    }
    a{
        color: black;
        &:hover{
            color: black;
        }
    }
}
.footer__logo{
    width: 65px;
}

.footer__texto{
    p{
        grid-area: p;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        font-weight: 600;
    }
    a:first-of-type{
        grid-area: a1;
        display: flex;
        justify-content: center;
        align-items: center;}
    a:nth-of-type(2){
        grid-area: a2;
        display: flex;
        justify-content: center;
        align-items: center;}

    a:nth-of-type(3){
        grid-area: a3;
        display: flex;
        justify-content: center;
        align-items: center;}
            
    a:last-of-type{
        grid-area: a4;
        display: flex;
        justify-content: center;
        align-items: center;}

    display: grid;
    width: 700px;
    grid-template-areas: "p a1 a3 redes"
                         "p a2 a4 redes";

}
.footer__redes{
    @include flex (flex, column, center, center);
    padding-top: 6px;
    grid-area: redes;
    div{
        display: flex;
        justify-content:row;
    }
    a{
        padding: 0 2px;
    }
}


