.header__inicio{
    grid-area: enc;
}
.main__inicio{
    grid-area: main;
    display: block;
    margin: auto;
    background-color: $FONDO;
    img{
       
    }
}
.footer__inicio{
    grid-area: foot;
}
.grid__inicio{
    display: grid;
    max-height: 100vh;
    grid-template-areas: 
    "enc"
    "main"
    "foot" ;
}
