@media (min-width:991px) { //Media para el efecto underline del nav solo en Desktop
   nav a{ //Before para no pisar el BS
      transition: all .3s ease;
      &::before{
         content: "";
         width: 100%;
         height: 1px;
         background-color: $COLOR;
         position: absolute;
         left: 0;
         bottom: 0;
         transform: scaleX(0);
         transform-origin: left;   
         transition: all .3s ease;
         }
     &:hover{
         color: $COLOR;
         &::before{
             transform: scaleX(1);
         }
     }
   } 
}
@media(max-width: 991px) { //Media queries de Nav responsive
    .navbar-light .navbar-toggler{
       margin-bottom: 15px;
    }
    //Para posicionar todo el nav y su contenido a la derecha cuando el nav se cierra (hamburger)
    header div:last-of-type{ //Li items
       @include flex(flex, column, none, flex-end)
    }
    .encabezado__contenedor__nav{
       @include flex(flex, column, center, flex-end);
    }
    .encabezado nav ul{
       @include flex(flex, column, none, flex-end);
    }
    #navpad-item{
      text-align: right;
   }
    .dropdown-item{
       text-align: right;
    }
   .dropdown-menu:last-child{
      border-bottom: solid 1px white;
   }
   #navbarDropdown{
      text-align: right;
      color: white;
   }
}

//Mediaqueries
 
 @media (min-width:1400px){
    .footer__contact{ //Para pantallas muy grandes, pegar el footer de contacto abajo
       position: absolute;
       width: 100%;
       bottom: 0px;
    }
 }
 
 @media (min-width:1200px) and (max-width: 1400px){ 
     .modal-content{ //Modificar el tamaño del modal y su contenido
        width: 1000px;
       .modal-body{
          img{
             height: 208px; 
          }
          p{
             padding-top: 50px;
          }
          .modal-contenido img{
                height: 350px;
             }
       }
    }
    .footer__contact{ //Para pantallas muy grandes, pegar el footer de contacto abajo
       position: absolute;
       width: 100%;
       bottom: 0px;
    }
 }
 
 @media (min-width:991px) and (max-width: 1200px){
     .modal-content{ //Modificar el tamaño del modal y su contenido
        width: 800px;
       .modal-body{
          img{
             height: 166px; 
          }
          p{
             padding-top: 50px;
          }
          .modal-contenido img{
                height: 300px;
         }  
       }
    }
    .encabezado__searchbox { //Ajusta la barra de búsqueda del Header
       width: 200px;
    }
    #navbarDropdown { //Ajusta la caja para que las palabras del Nav no salten de renglon 
       padding: 12px 12px;
       width: 100%;
   }
   #navpad-item {
    padding: 12px 12px;
 }
//Una pantalla con un ancho <1200px tiene la altura necesaria para que el footer quede oegado abajo, que desaparece el position:relative
}
 
 @media (min-width:768px) and (max-width: 991px){

     .modal-content{ //Modificar el tamaño del modal y su contenido
        width: 700px;
        }
       .modal-body{
          img{
             height: 166px; 
          }
      }
      .modal-contenido  img{
         height: 266px;
      }    
    .encabezado__searchbox {
       width: 200px;
    }
 }
 

 @media (max-width: 768px){
     .modal-content{ //Modificar el tamaño del modal y su contenido
        width: 500px;
     }
      .modal-body{
      @include flex (flex, column-reverse, center, center);
      img{
         height: 166px; 
      }
      .modal-contenido img{
            height: 266px;
         }
      }

    footer{ //Cambia la disposición del Footer a columna
        display: flex;
        flex-direction: column;
    }
    .footer__contenido{
       width: 100%;}

    .encabezado__searchbox { //Reajusta la barra de navegación del Nav
       width: 200px;
    }
 }
 @media (max-width: 576px){
     .modal-content{ //Modificar el tamaño del modal y su contenido
        width: 350px;
        }
       .modal-body{
          @include flex (flex, column-reverse, center, center);

          img{
             height: 140px; 
             margin: 10px;
          }
          p{
             width: 100%;
          }
          
          .modal-contenido img{
             height: 200px;
       }
    
    }
    footer{ //Cambia la disposición del Footer
       @include flex(flex, column, space-between, center);
       width: 100%;
       
       }
    .footer__contenido{ //Establece el grid del contenido del Footer a columnas
       width: 100%;
       grid-template-areas: 
       "a1"
       "a3"
       "a4"
       "a2"
       "redes"
       "p";
       gap: 7px;
    }
    .encabezado__searchbox { //Reajusta la barra de navegación del Nav
       width: 150px;
    }
}
 